@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&family=Permanent+Marker&display=swap');

body{
  margin: 0;
  padding: 0;
  background-color: #0000007a;
}

.App {
  text-align: center;
}

.intro{
  background-color: #000;
  color: #fff;
  padding: 10px;
  height: 250px;
  border-bottom: 1px solid gray;
  box-shadow: rgba(243, 239, 239, 0.35) 0px 5px 15px;
}

.app-title{
  font-size: 60px;
  font-weight: bold;
  font-family: "Nothing You Could Do", cursive;

}

.app-input {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  font-size: 18px;
  box-shadow: rgba(243, 239, 239, 0.35) 0px 5px 15px;
}

.app-btn{
  background-color: rgb(240, 153, 12);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  font-size: 18px;
  box-shadow: rgba(243, 239, 239, 0.35) 0px 5px 15px;
  cursor: pointer;
  color: #fff;
}

.app-btn:hover{
  background-color: rgba(240, 153, 12, 0.39);
  transition: 0.3s ease;
}

.todo-list{
  padding: 10px;
  overflow: auto;
  height: 100%;
}

.list-li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: rgba(243, 239, 239, 0.35) 0px 5px 15px;
}

.title-comp{
  font-size: 14px;
  font-weight: bold;
  display: flex;
  gap: 10px;
  align-items: center;
}

.date-p{
  font-size: 18px;
  font-weight: bold;
  padding-left: 400px;
}

.edit-rem{
  display: flex;
  gap: 10px;
  align-items: center;
}

.edit-btn{
  background-color: rgb(240, 153, 12);
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 18px;
  box-shadow: rgba(243, 239, 239, 0.35) 0px 5px 15px;
  cursor: pointer;
  color: #fff;
}

.edit-btn:hover{
  background-color: rgba(240, 153, 12, 0.39);
  transition: 0.3s ease;
}

.remove-btn{
  background-color: rgb(240, 12, 12);
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 18px;
  box-shadow: rgba(243, 239, 239, 0.35) 0px 5px 15px;
  cursor: pointer;
  color: #fff;
}

.remove-btn:hover{
  background-color: rgba(240, 12, 12, 0.39);
  transition: 0.3s ease;
}

.edit-input{
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  font-size: 18px;
  box-shadow: rgba(243, 239, 239, 0.35) 0px 5px 15px;
}

.save-btn{
  background-color: rgb(240, 153, 12);
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 18px;
  box-shadow: rgba(243, 239, 239, 0.35) 0px 5px 15px;
  cursor: pointer;
  color: #fff;
}



